.container {
  width: 589px;
  margin: 0 auto;
}

.about_us {
  padding: 80px 0 101px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.about_us_heading {
  font-family: "Merienda Regular", sans-serif;
  font-size: 24px;
}

.beans_logo {
  margin-top: 20px;
}

.about_us_content {
  margin-top: 40px;

  font-family: "Merienda Regular", sans-serif;
  font-size: 14px;

  p:not(:first-child) {
    margin-top: 25px;
  }
}
